.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    text-align: center;
    overflow: hidden;
}

.tabs-vertical .tab {
    width: 100%;
    margin: 2%;
}

.tabs-vertical .tab .active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
}

.tabs-vertical .tab h5 {
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    color: rgb(209, 209, 209);
    margin: 1px;
    font-weight: 300;
}

.tabs-vertical .tab h5:hover {
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-bottom: 1px solid #ff8f00;
    width: 70px;
    height: 30px;
}

.tabs-vertical .indicator {
    display: none;
}

.tabs-vertical>.tab-content .active {
    display: block;
}