/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "ModernLove-RegularSlanted";

  src: url("./fonts/Modern.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Candara";

  src: url("./fonts/CandaraFont.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}