/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Xpertcad-Regular";

  src: url("./fonts/Xpertcad-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}